.New_movie_card{
    width: 27%;
    padding: 20px;
    margin: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
}

.New_movie_card p {
    padding-bottom: 10px;
}

.New_genre {
    padding: 10px 0;
}

.Movie__rating{
    padding: 10px 0;
}
